.push-enter-active,
.push-leave-active,
.pop-enter-active,
.pop-leave-active,
.present-enter-active,
.present-leave-active,
.dismiss-enter-active,
.dismiss-leave-active {
    transition: transform 0.35s, opacity 0.35s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.push-enter-active {
    transform: translateX(100vw);
}

.push-enter-to {
    transform: translateX(0);
}

.push-leave-to {
    transform: translateX(-35vw);
}

.pop-enter-active {
    transform: translateX(-100vw);
}
.pop-enter-to {
    transform: translateX(0);
}
.pop-leave-to {
    transform: translateX(35vw);
}

.present-enter-active {
    transform: translateY(100vh);
}
.present-enter-to {
    transform: translateY(0);
}

.dismiss-enter-active {
    opacity: 0;
}
.dismiss-enter-to {
    opacity: 1;
}
.dismiss-leave-active {
    transform: translateY(0);
}
.dismiss-leave-to {
    transform: translateY(100vh);
}
